<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <header>

    </header>

    <main>
        {% for star in stars%}
            {% if star.published %}
                <article style="border:1px solid {{star.color}};">
                    <h1>{{ star.title}}</h1>
                    <img src="{{star.image}}" alt="Image de star" height="100px">
                    <p>{{star.publishedDate | date("m/d/Y")}}</p>
                </article>
            {% else %}
                <p>Cet article n'est pas publié</p>
            {%endif%}
        {% endfor%}


    </main>

    <footer>

    </footer>
</body>
</html>